<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD8UtS29R_MyPrVuyrrT7Ts2mwkB0USAN8</string>
	<key>GCM_SENDER_ID</key>
	<string>396968931728</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Gatech-Mobile-App.Weather-App</string>
	<key>PROJECT_ID</key>
	<string>weatherapp-fc9b8</string>
	<key>STORAGE_BUCKET</key>
	<string>weatherapp-fc9b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:396968931728:ios:695dc4567159b18ae88315</string>
</dict>
</plist>